
  
  
  
  
  
  .slider {
    width: 100%; 
    max-width: 1920px; 
     height: 1200px;  
    position: relative;
    overflow: hidden;  
    border-radius: 15px;
    
  }
  
  .slide {
     width: 100%;
    max-width: 1920px;  
    height: 1200px;
    position: absolute;
    transition: all 0.5s;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
  }
  
   .btn:active {
    transform: scale(1.1);
  }
  
  .btn-prev {
    top: 45%;
    left: 2%;
  }
  
  .btn-next {
    top: 45%;
    right: 2%;
  } 
.first-page-box{
  max-width: 1920px;

  margin: 0 auto; 
  position: relative;
}
  .box{
         
    max-width: 1920px;
      
    margin: 0 auto; 
        /* position: relative; */
    }


.header-div{
    /* max-width: 1920px; */
    display: flex;
    justify-content: space-between;
    position: absolute;
     bottom: 900px;
   right: 16px; 
}

 h1{
    position: absolute;
    
} 

.Roca{
    width: 113px;
    height:56px;
    color: #1A1A1A;
    font-size:40px;
    font-family:font-popins;
      margin-right: 1240px; 
   
    
}
.Resume{
    width: 119px;
    font-size: 13px;
    color: #B3B3B3;
    font-family:font-Montserrat;
  
}
.inside-div{
   bottom:500px; 

}

h1{
    width: 170px;
    height: 221px;
    font-size: 158px;
    font-family: font-popins;
    color: #1C1C1C;
     margin-right:118px; 
    margin-top: 20px; 
    position: absolute;

}
.aboutme{
    position: relative;
    width: 200px;
    height: 60px;
    color: #373737;
    font-size: 43px;
    font-family: font-popins;
      margin-right: 81px; 
    margin-top: 90px; 
}
 .info-me{
    margin-right: 308px;
    margin-left: 1029px;
    width: 582px;
    position: absolute;
     bottom: 340px;
    right: 16px; 
} 

.hi{
    font-size: 49px;
    font-family:font-Glaciallnd ;
    color: #212121;
    margin-bottom: 0px;
  
}
.name{
    color: #212121;
    font-size: 71px;
    font-family: font-Glaciallnd-bold;
    margin-bottom: 0px;
}
.profession{
    color: #212121;
    font-size: 23px;
    font-family: font-Glaciallnd;
  

}
.icon{
    width: 20px;
}

.clienttext{
    position: absolute;
      bottom: 8px;
    right: 16px;  
}

.clients{
    width: 274px;
    color: #212121;
    font-size: 24px;
    font-family: font-Montserrat;
     margin-top: 181px;
    margin-left: 1462px;
    margin-right: 184px; 
    border-bottom-style: solid  ;
    border-bottom-color: red;
    border-bottom-width:1ex;
   
}


.clients:nth-letter(5){
    color:red;
}





/* @media  (max-width:780){
  .Roca-Resume{
   
    display: none;
  }
} */



.parentdiv{
  display: flex;
justify-content: space-between;
align-items: center;
}

.firstdiv{
  margin-left: 250px;
}


.Name{
  width: 400px;
  height: 53px;
  font-size: 40px;
  font-family: ont-Glaciallnd-bold;
  color: #222222;
   /* margin-left: 380px;  */
  margin-bottom: 6px;
  margin-right: 68px;
}

.work{
  width: 109px;
  font-size: 14px;
  font-family: Muli;
  color: #DAAE19;
  /* margin-left: 581px; */
  margin-top: 6px;
  margin-right: 68px;
}
.moreinfo{
  width: 334px;
  color: #555555;
  font-size: 15px;
  font-family: Muli-Regular;
  /* margin-left: 355px; */
  margin-top: 33px;
  margin-bottom: 60px;
  margin-right: 68px;
}
.Hireme{
  width: 152px;
  height: 50px;
  color: #FFFFFF;
  font-size: 15px;
  font-family:font-Glaciallnd-bold ;
  padding-top: 13px;
  padding-bottom: 17px;
  padding-left: 53px;
  padding-right: 46px;
  background-color: #E93656;
  /* margin-left: 532px; */
  margin-top: 20px;
  margin-right: 68px;

}
.me{
  width: 430px;
height: 603px;
object-fit: contain;
}

.skillhtml{
  margin-right: 300px;
  margin-left: 70px;
}

#progress {
  background: #F0F0F0;

  height: 9px;
  width: 256px;
  padding: 3px;
  margin-bottom: 10px;
  margin-right: 300px;
  margin-left: 70px;
}

#progress:after {
  content: '';
  display: block;
  background: #E93656;
  width: 80%;
  height: 100%;

}
 #progress1 {
  background:#F0F0F0 ;
  height: 9px;
  width: 256px;
  padding: 3px;
  margin-bottom: 10px;
  margin-right: 300px;
  margin-left: 70px; 

 }

#progress1:after {
  content: '';
  display: block;
  background: #E93656;
  width: 65%;
  height: 100%;
}

 #progress2 {
  background:#F0F0F0 ;
  height: 9px;
  width: 256px;
  padding: 3px;
  margin-bottom: 10px;
  margin-right: 300px;
  margin-left: 70px;
}


#progress2:after {
  content: '';
  display: block;
  background: #E93656;
  width: 50%;
  height: 100%;

}

#progress3 {
  background:#F0F0F0 ;
  height: 9px;
  width: 256px;
  padding: 3px;
  margin-bottom: 10px;
  margin-right: 300px;
  margin-left: 70px;
}


 #progress3:after {
  content: '';
  display: block;
  background: #E93656;
  width: 30%;
  height: 100%;

}  */
.bar{
  margin-left: 70px;
}

.square{
  display: flex;
  margin-left: 70px;
}
.squareimg{
  width: 9px;
  height: 20px;
  color: #6B6B6B;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 21px;
  padding-right: 19px;
  background-color: #F9F9F9;
  margin-right: 3px;
  margin-top: 78px;
}
.squareimg:hover{
  background-color:#15263E;

}
.footer-parent{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1920px;
  height: 210px;
  background-color: #131A36;
  margin: auto;

}
.footer-tel{
  display: flex;
  align-items: center;
  margin-right: 45px;

}
 .phones{
  width: 29px;
  height: 29px;
   /* background-color: #FFFFFF; */
   border-radius: 100%;
   margin-left: 534px;
   position: absolute;
   padding: 30px;
   
} 


.location{
  width: 24px;
  height: 31px;
   /* background-color: #FFFFFF; */
   border-radius: 50%;
   position: absolute;
   padding: 30px;
   color: #FFFFFF; 

}

.email{
  width: 30px;
  height: 23px;
   /* background-color: #FFFFFF; */
   border-radius: 50%;
   position: absolute;
   padding: 30px;
}

.first{
  width: 29px;
  height: 29px;
   color: #FFFFFF; 
   position: absolute;
   padding: 30px;
} 

.second{
  position: relative;
  width: 90px;
  /* border-radius: 100%; */
  
}


.footer-images:hover{
  background-color: #E93656;
  border-radius: 100%;
}
.phonenumber{
  width: 176px;
  font-size: 25px;
  font-family:font-Glaciallnd-bold ;
  color: #FFFFFF;
  margin-left: 29px;
}
.location-p{
  width: 170px;
  font-size: 14px;
  font-family:Muli ;
  color: #DFDFDF;
  margin-left: 30px;
}

.useradress{
  width: 150px;
  font-size: 25px;
  font-family:font-Glaciallnd-bold ;
  color: #FFFFFF;
  margin-left: 29px;
}
.emailadress{
  width: 163px;
  font-size: 25px;
  font-family:font-Glaciallnd-bold ;
  color: #FFFFFF;
  margin-left: 29px;
}

@media screen and (max-width: 1120px) {
  .footer-parent{
    display: block;
    background-color: #131A36;
    max-width: 500px;
    height: 100%;
    margin-left: 200px;
  }

  .footer-tel{
    width: 100px;
  }
  .square{
    display: block;
  }
  .parentdiv{
    display: block;
  
  }
  .me{
    margin-left: 250px ;
  }
  .bar{
     margin-left: 200px; 
  
  }

 .header-div{
  display: block;


 
 }

  .Roca{
margin-right: 700px;
 
 } 
a{
  display: block;
}

 
}


/* third page */

.six-sections{
   
  display: grid;
  grid-template-columns: repeat(3, 285px); 
  gap:10px;
  justify-content: center;

}
.individual-section{
 
width: 285px;
height: 360px; 
background-color: #FAFAFA;

}
.individual-section:hover{
  background-color:#555555;
}
.design{
  padding-top: 133px;
  padding-bottom: 15px;
  padding-left: 112px;
  padding-right: 112px;
  color: #15263E;
}

.Graphichs-Design{
  padding-left: 70px;
  padding-bottom: 121px;
  color: #222222;
  font-size: 22px;
  font-family:font-Glaciallnd-bold ;
}
 
@media screen and (max-width: 1120px) {
  .six-sections{
    
   display: grid;
   grid-template-columns: repeat(2, 260px); 
 
   justify-content: center;
   margin-left: 200px;
  
  } 
}
 @media screen and (max-width: 780px) {
  .six-sections{
    display: block;
   margin-left: 250px;
  
  }

  .individual-section{
    width: 400px;
   height: 360px;
   gap: 10px;
 
  }
  .design{
    padding-top: 180px;
    padding-bottom: 30px;
    padding-left: 180px;
    padding-right: 180px;
  }
  .Graphichs-Design{
    padding-left: 120px;
    padding-bottom: 180px;
  }
} 



/* page four */

.recomendations{
  display: flex;
}
.rec-div{
position: relative;
}
 .circle-image{
  position: relative;
} 
.clip{
  position: absolute
}

.rec-text{
  width: 497px;
  height: 78px;
  color: #FFFFFF;
  font-size: 15px;
  font-family:Roboto-light;
  position: relative;
  margin-top: 256px;
  margin-bottom: 236px;
  margin-left: 417px;
  margin-right: 50px;

}
.circle-image{
  margin-top: 211px;
  margin-bottom: 189px;
  margin-right: 50px;
}
.circle-dotted{
  position: relative;
width: 170px;
height: 170px;

}
 .circle{
  position: absolute;
  width: 140px;
height: 140px;
background-color: #B97679;
border-radius: 50%;
margin:  15px;
} 
.quotes{
  width: 39px;
height: 26px;
margin-top: 237px;
margin-bottom: 38px;
margin-right: 281px;
margin-left: 50px;

}
.Graphic-Designer{
  width: 107px;
  height: 15px;
  color: #E93656;
  font-size: 13px;
  font-family: Roboto-Regular;
margin-bottom: 9px;
margin-right: 281px;
margin-left: 50px;

}

.Mau-Thomas{
  width: 168px;
  height: 37px;
  color: #FFFFFF;
  font-size: 28px;
  font-family: font-Glaciallnd-bold;
  margin-bottom: 208px;
margin-right: 281px;
margin-left: 50px;
}
.button-1{
  margin-top: 267px;
  margin-right: 402px;
  margin-bottom: 14px;
  width: 13px;
  height: 13px;
  background-color: transparent;
  border-style: solid;
border-color:#FFFFFF;

}
.button-2{
  margin-right: 402px;
  margin-bottom: 14px;
  width: 13px;
height: 13px;
background-color: transparent;
border-style: solid;
border-color:#FFFFFF;

}
.button-3{
  margin-right: 402px;
  margin-bottom: 237px;
  width: 13px;
height: 13px;
background-color: transparent;
border-style: solid;
border-color:#FFFFFF;
}



  
  
  
  
  
